*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
}

body {
    padding: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;

}

h1 {
    text-align: center;
}

.container {
    display: flex;
}

.card-wrapper {
    width: 70%;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    cursor: pointer;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 7px;
    border-radius: 5px;
    overflow: hidden;
    transition: scale 0.3s ease;
}

.card img {
    border-radius: 3px;
    max-width: 200px;
}

.card:hover {
    scale: 102%;
    background: #c9f6ff74;
}

.form-container {
    width: 30%;
    border: 1px solid red;
}

.member-form {
    padding: 20px;
}

.d-none {
    display: none;
}
