*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

img {
    display: block;
    width: 100%;
}

body {
    padding: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.card-wrapper {
    width: calc(70% - 20px);
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    background: whitesmoke;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 7px;
    border-radius: 5px;
    overflow: hidden;
    transition: scale 0.3s ease;
    cursor: pointer;
}

.card .image {
    width: 100%;
    /* min-width: 200px; */
}

.card img {
    border-radius: 3px;
    width: 250px;
}

.card:hover {
    scale: 102%;
    background: #dedede8e;
}

.form-container {
    margin-top: 20px;
    max-width: 30%;
    min-width: 300px;
    background: whitesmoke;
    padding: 20px;
    border-radius: 10px;
    box-shadow: inset 0 0 10px #70707024;
}

.member-form {
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    gap: 20px;
}

.member-form > div {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.member-form input,
.member-form select {
    all: unset;
    padding: 6px 12px;
    border: 1px solid #9f9f9f;
    border-radius: 4px;
}

.member-form select {
    cursor: pointer;
}

.member-form label[for="role"]{
    position: relative;
}
.member-form label[for="role"]::before{
    content: "\25BE";
    display: inline;
    position: absolute;
    right: 3px;
    bottom: -33px;
}

.member-form input::placeholder{
    color: rgb(104, 104, 104);
}

.member-form button {
    all: unset;
    width: fit-content;
    background: #886969d0;
    color: #fff;
    padding: 6px 12px;
    border: 1px solid #9f9f9f;
    border-radius: 4px;
    cursor: pointer;
}

.member-form button:focus, .member-form select:focus, .member-form input:focus {
    border: 2px solid rgb(90, 90, 90);
}

.member-form button:hover{
    background: #886969;
}

/* utilities */
.d-none {
    display: none;
}

.d-flex{
    display: flex;
}

.content-between {
    justify-content: space-between;
}

.trash{
    transition: all .4s ease;
}

.trash:hover {
    scale: 125%;
}

@media screen and (max-width: 1060px) {
    .card-wrapper{
        width: 100%;
    }
    .form-container{
        max-width: 50%;
    }
}